{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1 class="text-center">Ѝ̴̯͜͠н̷̧͙̎̀̕ф҉͉̜̊̋͢͠о̶̡̪̞̥̂͛͡р̴̯͚̔͜͞м̵̛͈̓͜а̷̡͚̙҇̀͗ц̵̡͉̒̀̈́͠ӣ̸̧̛͈̊я̶̡̬͎̈̂̈͞ о҉̢̬͕҇̆б̵͕̲͐̿̑͢͡ а҈̧̫̗̓̎͝в̴̗̫̾̏̇͜͝т҈̧͍҇̎̊о̷̡͈͕̍͐͝р҉͓̲̈̓͜͝е̶̙̅͢͝</h1>
        <p class="text-center">
          <img src="/static/img/about.jpg" width="1037" height="1000" class="d-inline-block align-center" alt="">
        </p>
  </div>
{% endblock %} 